.why-form{
    background-color:#FFFFFF ;
    width: fit-content;
    border-radius: 10px;
}
.why-field{
    display: block;
    margin:15px 0px;
    padding: 10px;
    background-color: #F1F5F9;
    border:none;
    border-radius: 4px;
    width:100%;
    box-sizing: border-box;
}
.why-checkbox{
    display:block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
.why-submit{
    margin:20px 70px;
    color: #FFFFFF;
    background-color: #FD7E2E;
    border:none;
    border-radius: 5px;
    padding: 20px 35px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    transition: background-color 0.5s ease;
}
.why-submit:hover{
    background-color:#F66002;
}
.condition-checkbox{
    opacity: 0;
    transform: translateY(-10px); 
    pointer-events: none;
    transition:all 0.7s ease ;
    height:0;
    overflow: hidden;
}
.condition-checkbox.show{
    opacity:1;
    transform: translateY(3.5px);
    pointer-events: auto;
    height: auto;
}
p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    width: 350px;
    margin: 20px 5px;
}
.why-form-container{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    margin:100px 30px 50px 50px;
    border-radius: 10px;
    padding: 30px;
    
}
h2{
    
    font-size:large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    margin-bottom: 50px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
@media(max-width:767px){
   .why-form-container{
    width:100%;
   }
   .why-form{
    width:100%;
    

   }
   .entry-content .wp-audio-shortcode, .entry-content .wp-embedded-audio, .entry-content .wp-embedded-video, .entry-content .wp-video, .entry-content p {
   
   }
   
}